.example-form {
    min-width: 100px;
    max-width: 600px;
    width: 100%;
    margin-left:33%;
    margin-top: 1%;
  
  }
  
  .example-full-width {
    width: 100;
  }
  
  td {
    padding-right: 8px;
  }
  