<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Informações Pessoais</mat-label>
      <input matInput disabled value="">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>sobrenome</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Estado</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Cidade</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Rua</mat-label>
        <input matInput placeholder="">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Bairro</mat-label>
        <input matInput placeholder="">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Número da Casa</mat-label>
        <input matInput #numerodacasa maxlength="5" placeholder="" value="">
      </mat-form-field></td>
    </tr></table>
  </form>
